<section class="section">
    <div class="container">
        <h2 class="section__title section__title--visually-hidden">Переваги</h2>
        <ul class="advantage">
            <li class="advantage__item">
                <div class="advantage__item-icon">
                    <svg class="advantage__icon">
                        <use href="./images/icons.svg#icon-advantage-img1"></use>
                    </svg>
                </div>
                <h3 class="advantage__title">Увага до деталей</h3>
                <p class="advantage__text">Ідейні бачення, а також початок повсякденної роботи з формування позиції.</p>
            </li>
            <li class="advantage__item">
                <div class="advantage__item-icon">
                    <svg class="advantage__icon">
                        <use href="./images/icons.svg#icon-advantage-img2"></use>
                    </svg>
                </div>
                <h3 class="advantage__title">Пунктуальність</h3>
                <p class="advantage__text">Мета организації, в особливості ж рамки та місце навчання кадрів тягне за
                    собою.</p>
            </li>
            <li class="advantage__item">
                <div class="advantage__item-icon">
                    <svg class="advantage__icon">
                        <use href="./images/icons.svg#icon-advantage-img3"></use>
                    </svg>
                </div>
                <h3 class="advantage__title">Планування</h3>
                <p class="advantage__text">Подібним чином консультація з широким активом значною мірою зумовлює.</p>
            </li>
            <li class="advantage__item">
                <div class="advantage__item-icon">
                    <svg class="advantage__icon">
                        <use href="./images/icons.svg#icon-advantage-img4"></use>
                    </svg>
                </div>
                <h3 class="advantage__title">Сучасні технології</h3>
                <p class="advantage__text">Значимість цих проблем настільки очевидна, що реалізація планових завдань.
                </p>
            </li>
        </ul>
    </div>
</section>