<section class="section section__doing section--no-padding-top">
    <div class="container">
        <h2 class="section__title">Чим ми займаємось</h2>
        <ul class="doing">
            <li class="doing__item">
                <img class="doing__img"
                    srcset="./images/s3-doing/s3-doing-img1-370-1x.jpg 1x, ./images/s3-doing/s3-doing-img1-370-2x.jpg 2x"
                    src="./images/s3-doing/s3-doing-img1-370-1x.jpg" alt="Десктопні застосунки" width="370"
                    height="294">
                <div class="doing__description">
                    <p class="doing__description-text">Десктопні застосунки</p>
                </div>
            </li>
            <li class="doing__item">
                <img class="doing__img"
                    srcset="./images/s3-doing/s3-doing-img2-370-1x.jpg 1x, ./images/s3-doing/s3-doing-img2-370-2x.jpg 2x"
                    src="./images/s3-doing/s3-doing-img2-370-1x.jpg" alt="Мобільні застосунки" width="370" height="294">
                <div class="doing__description">
                    <p class="doing__description-text">Мобільні застосунки</p>
                </div>
            </li>
            <li class="doing__item">
                <img class="doing__img"
                    srcset="./images/s3-doing/s3-doing-img3-370-1x.jpg 1x, ./images/s3-doing/s3-doing-img3-370-2x.jpg 2x"
                    src="./images/s3-doing/s3-doing-img3-370-1x.jpg" alt="Дизайнерські рішення" width="370"
                    height="294">
                <div class="doing__description">
                    <p class="doing__description-text">Дизайнерські рішення</p>
                </div>
            </li>
        </ul>
    </div>
</section>