<section class="section section--background">
    <div class="container">
        <h2 class="section__title">Наша команда</h2>
        <ul class="team">
            <li class="team__item">
                <picture>
                    <source media="(min-width: 1200px)"
                        srcset="./images/s4-team/s4-team-img1-web-270x260-1x.jpg 1x, ./images/s4-team/s4-team-img1-web-540x520-2x.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/s4-team/s4-team-img1-tab-354x374-1x.jpg 1x, ./images/s4-team/s4-team-img1-tab-708x748-2x.jpg 2x">
                    <source media="(min-width: 355px)"
                        srcset="./images/s4-team/s4-team-img1-mob-450x460-1x.jpg 1x, ./images/s4-team/s4-team-img1-mob-900x920-2x.jpg 2x">
                    <source media="(min-width: 271px)"
                        srcset="./images/s4-team/s4-team-img1-tab-354x374-1x.jpg 1x, ./images/s4-team/s4-team-img1-tab-708x748-2x.jpg 2x">
                    <img src="./images/s4-team/s4-team-img1-web-270x260-1x.jpg" alt="Фото Ігор Дем'яненко" />
                </picture>
                <div class="team__description">
                    <h3 class="team__title">Ігор Дем'яненко</h3>
                    <p class="team__text" lang="en">Product Designer</p>
                    <ul class="social">
                        <li class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__logo">
                                    <use href="./images/icons.svg#icon-social-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__logo">
                                    <use href="./images/icons.svg#icon-social-twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__logo">
                                    <use href="./images/icons.svg#icon-social-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__logo">
                                    <use href="./images/icons.svg#icon-social-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team__item">
                <picture>
                    <source media="(min-width: 1200px)"
                        srcset="./images/s4-team/s4-team-img2-web-270x260-1x.jpg 1x, ./images/s4-team/s4-team-img2-web-540x520-2x.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/s4-team/s4-team-img2-tab-354x374-1x.jpg 1x, ./images/s4-team/s4-team-img2-tab-708x748-2x.jpg 2x">
                    <source media="(min-width: 355px)"
                        srcset="./images/s4-team/s4-team-img2-mob-450x460-1x.jpg 1x, ./images/s4-team/s4-team-img2-mob-900x920-2x.jpg 2x">
                    <source media="(min-width: 271px)"
                        srcset="./images/s4-team/s4-team-img2-tab-354x374-1x.jpg 1x, ./images/s4-team/s4-team-img2-tab-708x748-2x.jpg 2x">
                    <img src="./images/s4-team/s4-team-img2-web-270x260-1x.jpg" alt="Ольга Репіна" />
                </picture>
                <div class="team__description">
                    <h3 class="team__title">Ольга Репіна</h3>
                    <p class="team__text" lang="en">Frontend Developer</p>
                    <ul class="social">
                        <li class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__logo">
                                    <use href="./images/icons.svg#icon-social-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__logo">
                                    <use href="./images/icons.svg#icon-social-twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__logo">
                                    <use href="./images/icons.svg#icon-social-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__logo">
                                    <use href="./images/icons.svg#icon-social-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team__item">
                <picture>
                    <source media="(min-width: 1200px)"
                        srcset="./images/s4-team/s4-team-img3-web-270x260-1x.jpg 1x, ./images/s4-team/s4-team-img3-web-540x520-2x.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/s4-team/s4-team-img3-tab-354x374-1x.jpg 1x, ./images/s4-team/s4-team-img3-tab-708x748-2x.jpg 2x">
                    <source media="(min-width: 355px)"
                        srcset="./images/s4-team/s4-team-img3-mob-450x460-1x.jpg 1x, ./images/s4-team/s4-team-img3-mob-900x920-2x.jpg 2x">
                    <source media="(min-width: 271px)"
                        srcset="./images/s4-team/s4-team-img3-tab-354x374-1x.jpg 1x, ./images/s4-team/s4-team-img3-tab-708x748-2x.jpg 2x">
                    <img src="./images/s4-team/s4-team-img3-web-270x260-1x.jpg" alt="Микола Тарасов" />
                </picture>
                <div class="team__description">
                    <h3 class="team__title">Микола Тарасов</h3>
                    <p class="team__text" lang="en">Marketing</p>
                    <ul class="social">
                        <li class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__logo">
                                    <use href="./images/icons.svg#icon-social-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__logo">
                                    <use href="./images/icons.svg#icon-social-twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__logo">
                                    <use href="./images/icons.svg#icon-social-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__logo">
                                    <use href="./images/icons.svg#icon-social-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team__item">
                <picture>
                    <source media="(min-width: 1200px)"
                        srcset="./images/s4-team/s4-team-img4-web-270x260-1x.jpg 1x, ./images/s4-team/s4-team-img4-web-540x520-2x.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/s4-team/s4-team-img4-tab-354x374-1x.jpg 1x, ./images/s4-team/s4-team-img4-tab-708x748-2x.jpg 2x">
                    <source media="(min-width: 355px)"
                        srcset="./images/s4-team/s4-team-img4-mob-450x460-1x.jpg 1x, ./images/s4-team/s4-team-img4-mob-900x920-2x.jpg 2x">
                    <source media="(min-width: 271px)"
                        srcset="./images/s4-team/s4-team-img4-tab-354x374-1x.jpg 1x, ./images/s4-team/s4-team-img4-tab-708x748-2x.jpg 2x">
                    <img src="./images/s4-team/s4-team-img4-web-270x260-1x.jpg" alt="Михайло Єрмаков" />
                </picture>
                <div class="team__description">
                    <h3 class="team__title">Михайло Єрмаков</h3>
                    <p class="team__text" lang="en">UI Designer</p>
                    <ul class="social">
                        <li class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__logo">
                                    <use href="./images/icons.svg#icon-social-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__logo">
                                    <use href="./images/icons.svg#icon-social-twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__logo">
                                    <use href="./images/icons.svg#icon-social-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="" class="social__link">
                                <svg class="social__logo">
                                    <use href="./images/icons.svg#icon-social-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>