<section class="section">
    <div class="container">
        <h2 class="section__title">Постійні клієнти</h2>
        <ul class="clients">
            <li class="clients__item">
                <a href="" class="clients__link">
                    <svg class="clients__logo">
                        <use href="./images/icons.svg#icon-clients-logo1"></use>
                    </svg>
                </a>
            </li>
            <li class="clients__item">
                <a href="" class="clients__link">
                    <svg class="clients__logo">
                        <use href="./images/icons.svg#icon-clients-logo2"></use>
                    </svg>
                </a>
            </li>
            <li class="clients__item">
                <a href="" class="clients__link">
                    <svg class="clients__logo">
                        <use href="./images/icons.svg#icon-clients-logo3"></use>
                    </svg>
                </a>
            </li>
            <li class="clients__item">
                <a href="" class="clients__link">
                    <svg class="clients__logo">
                        <use href="./images/icons.svg#icon-clients-logo4"></use>
                    </svg>
                </a>
            </li>
            <li class="clients__item">
                <a href="" class="clients__link">
                    <svg class="clients__logo">
                        <use href="./images/icons.svg#icon-clients-logo5"></use>
                    </svg>
                </a>
            </li>
            <li class="clients__item">
                <a href="" class="clients__link">
                    <svg class="clients__logo">
                        <use href="./images/icons.svg#icon-clients-logo6"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>